<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%=@game.image.url(:midium)%>" alt="" />
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre_ids %>
</p>

<p>
  <strong>platform ids:</strong>
  <%= @game.platform_ids %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
