<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, height=device-height">
  <title>PicPlay</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= stylesheet_link_tag    "paper/loader", media: "all"%>
  <%= stylesheet_link_tag    "paper/bootswatch", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body style="background-image: url('./background.png');background-repeat: no-repeat;background-size: cover;">

  <div class="navbar navbar-default navbar-fixed-top" style="background-color:black;">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><img src="./logo.png" style="position: absolute; top: 5px; width: 48px; left: 20px;"/></a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li>
            <a href="/picbox" style="padding-top:11px;padding-bottom:10px;"><img src="./picbox_small.png" alt="" style="width:82px"/></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a style="color:white;"><%= current_user.email%></a></li>
          <li><a data-method="delete" href="/users/sign_out" rel="nofollow" style="color:white;">로그아웃</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div style="height:70px;"></div>

  <%= yield %>

</body>
  <%=render :partial => "page/game_js"%>
</html>
